<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Tracker</title>
  <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
  <form action="/add" method="post">
    <input type="text" name="country" autofocus autocomplete="off"
      placeholder="<%= locals.error ? error :  'Enter country name'%>">
    <button type="submit">Add</button>
  </form>

  <%- include("partials/worldMap.ejs") %>

    <h2 class="total-count">Total Countries: <%=total%>
    </h2>
    <script>
      const country_codes = "<%= countries %>".split(",")
      console.log(typeof ("<%= countries %>"))

      country_codes.forEach(code => {
        try {
          document.getElementById(code).style.fill = 'teal'
        } catch (error) {
          console.log(error)
        }

      });

    </script>
</body>

</html>